.p-10,
.p-15 {
  display: inline-block;
}
.p-10:hover {
  background: var(--accent);
}

.header {
  background: var(--primary);
}
nav {
  background: var(--secondary);
  color: var(--primary);
  font-size: 14px;
}
.list {
  display: row;
  border-left: 1px solid #ccc;
  font-size: 14px;
  padding: 0 20px 20px;
  font-weight: 300;
  color: #000;
}
.infos {
  color: #a8acac;
}
.div-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}
