<header class="header d-flex flex-row flex-justify-content-between flex-align-items-center">
    <img class="p-15" src="./assets/logoFFCC.png" alt=" logo">
</header>
<nav>

    <li class="p-10">
        <a href="#">Accueil</a>
    </li>
    <li class="p-15">
        <a href="#">Culture et traditions</a>
    </li>
    <li class="p-15">
        <a href="#">Raseteurs</a>
    </li>
    <li class="p-15">
        <a href="#">Taureaux et manades</a>
    </li>
    <li class="p-15">
        <a href="#">Historiographie et règles</a>
    </li>
    <li class="p-15">
        <a href="#">Les Arènes</a>
    </li>
    <li class="p-15">
        <a href="#">Contact</a>
    </li>
    <li class="p-15">
        <a href="#">Connexion/Inscription</a>
    </li>
</nav>