<div class="container">
  <div class="logo">
    <div class="logo-inner"></div>
  </div>

  <div class="header-content mt-2 mb-2">
    <p>
      Si vous avez oublié votre identifiant, merci de renseigner votre adresse mail ci-dessous afin de recevoir un mail
      de reinitialisation.
    </p>
  </div>

  <form [formGroup]="passwordRecoveryForm" class="form-content" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text" id="email" class="form-control" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        placeholder="Adresse mail" autocomplete="email"
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Champ requis</div>
        <div *ngIf="f.email.errors.pattern">Adresse mail invalide</div>
      </div>
    </div>

    <div class="form-footer">
      <button class="btn btn-danger" type="reset" (click)="onReset()">Annuler</button>
      <button class="btn btn-success" type="submit">Valider</button>
    </div>
  </form>

</div>
