.imgFFCC {
  max-width: 100%;
}
.h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.body_wrapper {
  align-items: center;
  display: flex;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.body_inner_left_holder {
  padding-right: 30px;
  padding-top: 10px;
}
.body_inner_left {
  width: 100%;
  border-radius: 50%;
}
.body_inner_right {
  display: flex;
  width: 66.666%;
  justify-content: flex-start;
  float: right;
}
/*l'autre partie qui doit etre supprimé*/
.pics_in_a_row {
  display: flex;
}

.img1 {
  flex: 1.3344;
}
.img2 {
  flex: 1.3345;
}
.img3 {
  flex: 0.7505;
}
.img4 {
  flex: 1.5023;
}
.img5 {
  flex: 0.75;
}

.container1 {
  margin: 0 auto;
  padding: 5%;
  width: 75%;
}

/* h1 {
    margin-top: 0;
  }

  h2 {
    font-weight: normal;
    font-size: 19px;
    margin-bottom: 30px;
  } */

.muted {
  font-style: italic;
  color: #666;
}

p,
li {
  line-height: 1.5;
}

li {
  margin-bottom: 7px;
}

p + p {
  margin-top: -7px;
}

code {
  background: #eee;
  padding: 2px 5px;
  font-size: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 2px;
}

.pics_in_a_row {
  margin: 25px 0;
}

.pics_in_a_row > div:not(:last-child) {
  margin-right: 2%;
}
