<div class="container">
  <img src="../../assets/logoFFCC.png" alt="logo" />
  <div class="form">
    <header>
      <h2>Créer sa carte jeune</h2>
    </header>
    <section>
      <form class="form-content">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" />

        <label for="surname">Prénom</label>
        <input type="text" id="surname" name="surname" />

        <label for="email">Adresse mail</label>
        <input type="text" id="email" name="email" />

        <label for="telephone">Téléphone</label>
        <input type="text" id="telephone" name="telephone" />

        <label for="city">Ville</label>
        <input type="password" id="city" name="city" />

        <label for="birthdate">Date de naissance</label>
        <input type="date" id="birthdate" name="birthdate" />

        <label for="photo">Photo</label>
        <input type="file" id="photo" name="photo" />
      </form>
    </section>
    <footer>
      <button class="submit">Suivant</button>
    </footer>
  </div>
</div>
