<div>
  <h1 class="h1"> Fédération Française de la Course Camarguaise</h1>
  <div class="body_wrapper">
    <div class="body_inner_left_holder">
      <img class="imgFFCC" src="../../../../assets/ImageFrontFFCC.png" />
    </div>
    <div class="body_inner_right">
      Bienvenue sur le site de la Fédération Française de la Course Camarguaise.
      A travers les différentes rubriques du site nous vous invitons non seulement à découvrir ce qu'est la Course
      Camarguaise, l'ensemble des activités qui en découlent et tout ce qui fait de ce sport une tradition
      fortement ancrée dans nos 4 départements de pratique (Gard, Vaucluse, Bouches-du-Rhône, Hérault), mais aussi
      les informations relatives aux compétitions et à la vie de la fédération.
      Bonne visite et à très bientôt dans les arènes pour vivre des moments forts et spectaculaires.
    </div>
  </div>
</div>
<div class='container1'>

  <h1>Lorem ipsum dolor sit </h1>
  <p>amet consectetur adipisicing elit. Facere enim magni sed tempore laboriosam sit exercitationem! Rem architecto
    non, repellat labore cum deleniti, ex nulla placeat asperiores ullam obcaecati illo?</p>

  <div class='pics_in_a_row'>
    <div class='img1'>
      <img class="imgFFCC" src="../../../../assets/Raseteur.jpg" />
    </div>
    <div class='img2'>
      <img class="imgFFCC" src="../../../../assets/Raseteur.jpg" />
    </div>
  </div>

  <p>And boom! You're done!</p>

  <div class='pics_in_a_row'>
    <div class='img1'>
      <img class="imgFFCC" src="../../../../assets/Raseteur.jpg" />
    </div>
    <div class='img2'>
      <img class="imgFFCC" src="../../../../assets/Raseteur.jpg" />
    </div>
    <div class='img3'>
      <img class="imgFFCC" src="../../../../assets/Raseteur.jpg" />
    </div>
  </div>

  <p>amet consectetur adipisicing elit. Facere enim magni sed tempore laboriosam sit exercitationem! Rem architecto
    non, repellat labore cum deleniti, ex nulla placeat asperiores ullam obcaecati illo?</p>

  <ul>
    <li>amet consectetur adipisicing elit. Facere enim magni sed tempore laboriosam sit exercitationem! Rem
      architecto non, repellat labore cum deleniti, ex nulla placeat asperiores ullam obcaecati illo?</li>
    <li>amet consectetur adipisicing elit. Facere enim magni sed tempore laboriosam sit exercitationem! Rem
      architecto non, repellat labore cum deleniti, ex nulla placeat asperiores ullam obcaecati illo?</li>
    <li>amet consectetur adipisicing elit. Facere enim magni sed tempore laboriosam sit exercitationem! Rem
      architecto non, repellat labore cum deleniti, ex nulla placeat asperiores ullam obcaecati illo?</li>
  </ul>

  <p>amet consectetur adipisicing elit. Facere enim magni sed tempore laboriosam sit exercitationem! Rem architecto
    non, repellat labore cum deleniti, ex nulla placeat asperiores ullam obcaecati illo?</p>

  <p>amet consectetur adipisicing elit. Facere enim magni sed tempore laboriosam sit exercitationem! Rem architecto
    non, repellat labore cum deleniti, ex nulla placeat asperiores ullam obcaecati illo?</p>

  <div class='pics_in_a_row'>
    <div class='img4'>
      <img class="imgFFCC" src="../../../../assets/Raseteur.jpg" />
    </div>
    <div class='img5'>
      <img class="imgFFCC" src="../../../../assets/Raseteur.jpg" />
    </div>
  </div>
</div>

<div>
  <h1 class="h1"> Fédération Française de la Course Camarguaise</h1>
  <div class="body_wrapper">
    <div class="body_inner_left_holder">
      <img class="imgFFCC" src="../../../../assets/ImageFrontFFCC.png" />
    </div>
    <div class="body_inner_right">
      Bienvenue sur le site de la Fédération Française de la Course Camarguaise.
      A travers les différentes rubriques du site nous vous invitons non seulement à découvrir ce qu'est la Course
      Camarguaise, l'ensemble des activités qui en découlent et tout ce qui fait de ce sport une tradition
      fortement ancrée dans nos 4 départements de pratique (Gard, Vaucluse, Bouches-du-Rhône, Hérault), mais aussi
      les informations relatives aux compétitions et à la vie de la fédération.
      Bonne visite et à très bientôt dans les arènes pour vivre des moments forts et spectaculaires.
    </div>
  </div>
</div>
