.container {
  height: 750px; width: 375px;

  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #00548F;
}

.logo {
  width: 175px; height: 100px;

  margin-bottom: 10px;

  background: url("../../../assets/logoFFCC.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.form {
  height: 600px; width: 300px;

  display: flex;
  flex-direction: column;

  background: #fff;
  border-radius: 22px;
  overflow: hidden;
}

header {
  height: 15%; width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background: #F7F7F7;
  color: #000;
}

section {
  height: 85%; width: 100%;

  position: relative;
  padding: 20px;

  color: #000;
  font-size: 20px;
}

.form-content {
  height: 100%; width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  margin-top: 10px;
}

input {
  height: 27px;

  border: none;
  background: #C4C4C4;
}

input:focus {
  outline: none;
}

.form-footer {
  width: 100%;

  margin-top: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

button {
  height: 36px; width: 207px;

  border: none;
  background: #00548F;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
