<div class='content-container'>
  <div class='title'>
    <h1>CARTE JEUNE de la FFCC</h1>
  </div>
  <div class='navbar'>
    <button class='btn btn-secondary'>Se connecter</button>
    <button class='btn btn-secondary'>S'inscrire</button>
    <button class='btn btn-secondary'>Demander ma carte</button>
    <button class='btn btn-secondary'>Editer ma carte</button>
  </div>
  <div class='content'>
    <p>
      Bienvenue à la rubrique dédiée à la Carte Jeune de la FFCC.
      <br><br>
      La carte jeune est dédiée aux jeunes de moins de 18 ans et aux étudiants de moins de 25 ans.
      <br><br>
      Elle vous permet de profiter d’un prix d’accès privilégié aux courses camarguaises dans les compétitions et arènes
      adhérentes (voir le calendrier pour vous assurer de pouvoir bénéficier de l’avantage carte à la course choisie).
      Cette carte est valable un an, téléchargeable sur son portable ou éditable. Elle est à présenter à l’entrée le jour
      de la course pour bénéficier du tarif préférentiel Carte Jeune.
      <br><br>
      Pour l’obtenir il suffit de remplir les conditions d’âge nécessaires et de s’inscrire sur le présent site de la FFCC
      et en faire la demande en ligne.
      <br><br>
      POUR FAIRE SA DEMANDE:
      <br>Etape 1: Si vous n’êtes pas encore inscrit sur le site, cliquez sur le bouton “S’inscrire” en haut de cette page et
      suivez les étapes d’inscription. Une fois inscrit vous pourrez passez à l’étape suivante.
      <br>Etape 2: Si vous être déjà inscrit, cliquez sur le bouton “Se connecter” en haut de cette page.
      <br>Etape 3: Une fois connecté, cliquez sur le bouton “Demander ma carte jeune” et renseigner le formulaire qui vous sera
      proposé. Attention, si vous êtes étudiant, n’oubliez pas de cocher la case correspondante.
      <br>Etape 4: Attendre la validation par la FFCC de votre demande (un mail vous sera envoyé) puis téléchargez votre carte
      Jeune ou éditez la pour la présenter à l’entrée des arènes le jour de la course.
    </p>
  </div>
</div>
