<div *ngIf="valid" class="container">
  <div class="logo">
    <div class="logo-inner"></div>
  </div>

  <div class="header-content mt-2 mb-2">
    <p>
      Saisissez ci-dessous votre nouveau mot de passe.
    </p>
  </div>

  <form [formGroup]="newPasswordForm" class="form-content" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="password" id="password" class="form-control" formControlName="password"
        ng-minlength="8" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        placeholder="Mot de passe" autocomplete="off"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Champ requis.</div>
        <div *ngIf="f.password.errors.pattern">Mot de passe pas assez sécurisé.</div>
      </div>
    </div>

    <div class="form-group">
      <input
        type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword"
        ng-minlength="8" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
        placeholder="Mot de passe" autocomplete="off"
      />
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmPassword.errors.required">Champ requis.</div>
        <div *ngIf="f.confirmPassword.errors.passwordMatching">Les mots de passe ne correspondent pas.</div>
      </div>
    </div>


    <div class="form-footer">
      <button class="btn btn-danger" type="reset" (click)="onReset()">Annuler</button>
      <button class="btn btn-success" type="submit">Valider</button>
    </div>
  </form>

</div>

<h2 *ngIf="!valid">Erreur : lien de récupération invalide.</h2>
