.content-container {
  height: auto; width: 100%;

  padding: 10px;

  position: relative;
}

.title {
  height: auto; width: 100%;

  display: flex;
  justify-content: center;
  position: relative;
  padding: 5px;
  margin-bottom: 5px;

  background-color: rgba(43, 71, 208, 0.3);
  border: 2px solid rgba(43, 71, 208, 1);
}

h1 {
  margin: 0; padding: 0;
}
