<div class="container">
  <div class="logo">
    <div class="logo-inner"></div>
  </div>
  <div class="content mt-2 mb-2">
    Un mail vient de vous être envoyé pour la récupération de votre mot de passe.
    <br><br>
    Consultez votre boite mail puis cliquez sur le lien de récupération associé.
    <br><br>
    Vous pourrez alors revenir sur le site de la FFCC pour choisir un nouveau mot de passe et vous connecter.
    <br><br>
    Nous sommes impatients de vous revoir parmi nous.
    <br><br>
    A tout de suite.
  </div>
  <button *ngIf="!display" (click)="sendNewMail()" class="btn btn-secondary">Renvoyer l'email</button>
  <button *ngIf="display" class="btn btn-success">Mail envoyé !</button>
</div>
