<router-outlet></router-outlet>
<header class="header flex-row">

  <div class="main-navigation">
    <img src="./assets/logoFFCC.png" alt=" logo">
    <div class='navbar'>
      <button class='btn btn-secondary' routerLink="/register">Inscription</button>
      <button class='btn btn-secondary' routerLink="/login">Connexion</button>
      <button class='btn btn-secondary' routerLink="/logout">Déconnexion</button>
      <button class='btn btn-secondary' routerLink="/get-my-card">Ma carte</button>
    </div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
        <p>Fédération Francaise de Course Camarguaise 2022</p>
  </footer>

</header>
