<router-outlet></router-outlet>
<header class="header flex-row">

  <div class="main-navigation">
    <img routerLink="/" src="./assets/logoFFCC.png" alt="logo ffcc" />

    <div class='navbar'>
      <button *ngIf="!user" class='btn btn-secondary' routerLink="/register">Inscription</button>
      <button *ngIf="!user" class='btn btn-secondary' routerLink="/login">Connexion</button>
      <button *ngIf="user" class='btn btn-secondary' routerLink="/my-card">Ma carte</button>
      <button *ngIf="user" class='btn btn-secondary' (click)="logout()">Déconnexion</button>
    </div>
  </div>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
        <p>Fédération Francaise de Course Camarguaise 2022</p>
  </footer>

</header>
