<div class="container">
  <img src="../../assets/logoFFCC.png" alt="logo" />
  <div class="form">
    <header>
      <h2>Connexion</h2>
    </header>
    <section>
      <form class="form-content">
        <label for="email">Adresse mail</label>
        <input type="text" id="email" name="email" />

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" />
      </form>
    </section>
    <footer>
      <button class="submit">Suivant</button>
    </footer>
  </div>
</div>
