<div *ngIf="user && !user.youthCard && !submitted" class="get-my-card-container">
  <div class='title'>
    <h1>DEMANDER MA CARTE JEUNE</h1>
  </div>
  <div class="container">
    <div class="logo">
      <div class="logo-inner"></div>
    </div>

    <div class="header-content mt-2 mb-2">
      <p>
        Si vous souhaitez demander votre carte jeune, merci de remplir le formulaire ci-dessous.
      </p>
    </div>

    <form [formGroup]="getMyCardForm" class="form-content" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="tel">Nom</label>
        <input type="text" id="lastname" class="form-control" value="{{user.lastname}}" readonly="true"/>
      </div>

      <div class="form-group">
        <label for="tel">Prénom</label>
        <input type="text" id="firstname" class="form-control" value="{{user.firstname}}" readonly="true"/>
      </div>

      <div class="form-group">
        <label for="tel">Email</label>
        <input type="text" id="email" class="form-control" value="{{user.email}}" readonly="true"/>
      </div>

      <div class="form-group">
        <label for="tel">Téléphone</label>
        <input
          type="text" id="tel" class="form-control" formControlName="tel"
          [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" placeholder="Téléphone" autocomplete="tel"
        />
        <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
          <div *ngIf="f.tel.errors.required">Champ requis.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="birthdate">Date de naissance</label>
        <input
          type="date" id="birthdate" class="form-control" formControlName="birthdate"
          [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }"
          placeholder="Répéter mot de passe" autocomplete="off"
        />
        <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
          <div *ngIf="f.birthdate.errors.required">Champ requis.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="idPhoto">Photo d'identité</label>
        <input
          type="file" id="idPhoto" class="form-control" formControlName="idPhoto" #idPhoto
          (change)="selectFiles($event, idPhoto)"
          [ngClass]="{ 'is-invalid': submitted && f.idPhoto.errors }"
        />
        <div *ngIf="submitted && f.idPhoto.errors" class="invalid-feedback">
          <div *ngIf="f.idPhoto.errors.required">Champ requis.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="idCard">Carte d'identité</label>
        <input
          type="file" id="idCard" class="form-control" formControlName="idCard" #idCard
          (change)="selectFiles($event, idCard)"
          [ngClass]="{ 'is-invalid': submitted && f.idCard.errors }"
        />
        <div *ngIf="submitted && f.idCard.errors" class="invalid-feedback">
          <div *ngIf="f.idCard.errors.required">Champ requis.</div>
        </div>
      </div>

      <div class="form-group form-check">
        <input
          type="checkbox" class="form-control" formControlName="student" id="student" class="form-check-input"
          (change)="setUserStudent()"
          [ngClass]="{ 'is-invalid': submitted && f.student.errors }"
        />
        <label for="student" class="form-check-label">Je suis étudiant</label>
      </div>

      <div *ngIf="student" class="form-group">
        <label for="studentCard">Carte étudiant</label>
        <input
          type="file" id="studentCard" class="form-control" formControlName="studentCard" #studentCard
          (change)="selectFiles($event, studentCard)"
          [ngClass]="{ 'is-invalid': submitted && f.studentCard.errors }"
        />
        <div *ngIf="submitted && f.studentCard.errors" class="invalid-feedback">
          <div *ngIf="f.studentCard.errors.required">Champ requis.</div>
        </div>
      </div>

      <div class="form-footer">
        <button class="btn btn-danger" type="reset" (click)="onReset()">Annuler</button>
        <button class="btn btn-success" type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="user && !user.youthCard && submitted && request && !formValidation && !getMyCardForm.invalid"
     class="get-my-card-container">
  <div class='title'>
    <h1>CONFIRMER MA DEMANDE</h1>
  </div>
  <div class="container">
    <div class="logo">
      <div class="logo-inner"></div>
    </div>

    <div class="header-content mt-2 mb-2">
      <p>
        Vous êtes sur le point de formuler une demande de carte jeune. Souhaitez-vous confirmer votre demande ?
      </p>
    </div>
    <div class="header-content mt-2 mb-2">
      <br>
      <span>Nom: {{request.lastname}}</span>
      <br>
      <span>Prénom: {{request.firstname}}</span>
      <br>
      <span>Email: {{request.email}}</span>
      <br>
      <span>Tel: {{request.tel}}</span>
      <br>
      <span>Date de naissance: {{getDate(request.birthdate)}}</span>
      <br>
      <span>Etudiant: {{request.student === true ? "Oui" : "Non"}}</span>
      <br>
      <span>Photo d'identité: {{request.idPhoto.name}}</span>
      <br>
      <span>Carte d'identité: {{request.idCard.name}}</span>
      <br>
      <span *ngIf="request.student">Carte étudiant: {{request.studentCard.name}}</span>
      <br>
    </div>
    <div class="form-footer">
      <button class="btn btn-danger" type="reset" (click)="onReset()">Annuler</button>
      <button class="btn btn-success" type="submit" (click)="onConfirm()">Valider</button>
    </div>
  </div>
</div>

<div *ngIf="user && !user.youthCard && submitted && request && formValidation" class="get-my-card-container">
  <div class='title'>
    <h1>CONFIRMATION DE LA DEMANDE</h1>
  </div>
  <div class="container">
    <div class="logo">
      <div class="logo-inner"></div>
    </div>

    <div *ngIf="validatedRequest" class="header-content mt-2 mb-2">
      <p>
        Votre demande de carte jeune est désormais confirmée ! Une fois celle-ci validée par la FFCC, vous pourrez
        récupérer
        ou modifier votre carte dans l'onglet " Ma carte ".
      </p>
    </div>
    <div *ngIf="!validatedRequest" class="header-content mt-2 mb-2">
      <p>
        Une erreur est survenue lors de l'envoi de votre demande ou vous avez déjà une demande en cours.
      </p>
    </div>
    <div class="form-footer">
      <button class="btn btn-success" type="submit" (click)="this.router.navigate(['/'])">Ok</button>
    </div>
  </div>
</div>

<div *ngIf="user && user.youthCard" class="edit-my-card-container">
  <div class='title'>
    <h1>Mes informations carte jeune</h1>
  </div>
  <div class="container">
    <div class="left-panel">
      <button class='btn btn-secondary'>Imprimer ma carte jeune</button>
      <div class="information-panel">
        <p>
          Depuis 2022, l'accès à certaines courses camarguaises permet aux jeunes de moins de 18 ans, ou étudiant de
          moins de 25 ans , de bénéficier d'un tarif préférentiel. Ce projet porté par la commission jeunes de la FFCC
          est expérimentale.
          Renseignez-vous avant chaque course pour être sûr de pouvoir bénéficier de cet avantage.
        </p>
      </div>
      <button class='btn btn-secondary'>Signaler une erreur</button>
    </div>
    <div class="middle-panel">
      <div class="youth-card-content">
        <div class="data">
          <span>Nom: {{user.lastname}}</span>
          <span>Prénom: {{user.firstname}}</span>
          <span>Adresse mail: {{user.email}}</span>
          <span>Téléphone: {{user.tel}}</span>
          <span>Date de naissance: {{getDate(user.birthdate)}}</span>
          <span>Etudiant: {{user.student === true ? "Oui" : "Non"}}</span>
          <span>Validée le: {{getDate(user.youthCard.issue_date)}}</span>
          <span>Expire le: {{getDate(user.youthCard.expiration_date)}}</span>
        </div>
        <div class="identifiers">
          <img alt="photo" src="./assets/photo-identite.jpg">
          <br><br>
          <qrcode [qrdata]="youthCardQRCode" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </div>
      <div class="information-panel">
        <p>
          La présentation de cette carte à l'entrée des arènes permet de bénéficier d'un tarif préférentiel unique.
          Attention, seules les courses annoncées "carte jeune acceptée" propose cette disposition.
        </p>
      </div>
    </div>
    <div class="right-panel">
      right-panel
    </div>
  </div>
</div>
